
@media screen and (max-width: 1024px) {

   
    .open-navigation-container {
        transform: translateX(0%);
    }

    .close-navigation-container {
        transform: translateX(-100%);
    }


    /* .open-navigation-container .navegation {
        transform: translateX(0%);
    }

    .close-navigation-container  .navegation {
        transform: translateX(-100%);
    } */


}