
@media screen and (max-width: 1024px) {

   
    .open-navigation-container {
        transform: translateX(0%);
    }

    .close-navigation-container {
        transform: translateX(-100%);
    }

}

@media (min-width: 1024px) {
    .content-page {
        width: calc(100% - 350px);
    }
}